.yellow, .grey
 { height: 100px;
		  margin: 10px;
		  background-color: #FEA409;
		  padding: 10px;
		  display: 
		  		inline-block;

}

.yellow {
	background-color: #FEA409;
}


.gray { 
		background-color: #3B3E40;
		padding: 10px;
		color: white; /*    */
 }
